
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;
$navbar-default-border: #000000;
$navbar-border-radius:0px;
// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #181D3B;
$panel-default-text:#ffffff;


//navbar
$navbar-default-toggle-border-color:#ffffff;
$navbar-default-toggle-icon-bar-bg:#ffffff;
// Pagination
$pagination-color:#181D3B;
$pagination-hover-color:#ffffff;
$pagination-hover-bg:#181D3B;
$pagination-hover-border:091358;
$pagination-active-bg:#181D3B;
$pagination-active-color:#ffffff;
$pagination-active-border:#181D3B;

